# Dependency directories
node_modules/
frontend/node_modules/

# Build outputs
dist/
frontend/dist/
build/

# Python Virtual Environments
venv/
backend/venv/
.venv/
env/
backend/env/

# Python cache
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# Databases & Runtime State
*.sqlite3
*.db

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db
DEVPOST.md
test.py
output
*.wav
*.ipynb